body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #761B7A
}

#perfil {
    font-size: 55px;
}

#loginButton {
    background-color: #FF7F48;
    color: #FFFFFF;
}

#registerButton {
    background-color: #FF7F48   
}

#register {
    color: #FFFFFF;
}

#forgetPassword {
    color: #FFFFFF;
    text-align: right
}

html {
    min-height: 100%;
}